---
import Layout from "../layouts/Layout.astro";
import { projects } from "../data";
import ProjectCard from "../components/ProjectCard.astro";
---

<Layout title="Shop">
  <div class="flex flex-col">
    <h1 class="font-bold text-xl">Augustin Briolon</h1>
    <p>Portfolio d'Augustin Briolon. Développeur web de passion et spécialisé en front-end, je transforme vos idées en sites performants.</p>
  </div>
  
  <div class="flex flex-wrap gap-4 py-8">
    {projects.map((project) => <ProjectCard {project} />)}
  </div>
</Layout>