---
import Layout from "../layouts/Layout.astro";
import { projects } from "../data";
import ProjectCard from "../components/ProjectCard.astro";
---

<Layout title="Shop">
  <div>
    <h1 class="text-5xl font-bold mb-4">Augustin's Project</h1>
  </div>
  
  <div class="flex flex-wrap gap-4 py-8">
    {projects.map((project) => <ProjectCard {project} />)}
  </div>
</Layout>