---
import type { Project } from "../data";

interface Props {
  project: Project;
}

const { project } = Astro.props;
const transitionName = project.slug;
---

<a href={`/${project.slug}`} class="block">
  <article
    class="group bg-flex flex-col sm:w-64 w-1/4 bg-white shadow-sm rounded-lg overflow-hidden hover:shadow-xl hover:shadow-gray-100 transition-all"
  >
    <div class="sm:w-64 w-1/4 overflow-hidden">
      <img
        src={project.cover}
        alt={project.name}
        transition:name={`${transitionName} image`}
        class="object-cover object-center w-full grayscale-[0.1] group-hover:grayscale-0 h-full rounded-md group-hover:scale-105 transition-all"
      />
    </div>
  </article>
</a>